@keyframes fadeIn{
  from { opacity: 0;}
  to {opacity: 1;}
}
body{
    animation-name: fadeIn;
    animation-duration: 1s;
}
.headerContainer{

    display:flex;
    flex-direction: column;
    background-color: black;
    height:200px;
}
.subHeadContainer{
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    height:75%;
}

.headerIntro{
    color:white;
    font-size:30px;
    margin-left: 5%;
    width:50%;
    
}

.links{
    margin-right:5%;
    font-size:30px;
    display:flex;
    justify-content: space-evenly;
    width:25%;
}
.link{
    color:white;
    text-decoration: none;
    transition: color 250ms linear 0ms
}

.link:hover {
    color: red;
}

.headerMyName{
    color:red;
    transition:color 250ms linear 0ms
}
.headerMyName:hover{
    color:white;
}
.nameLink{
    text-decoration: none;
    color:white;
    transition:color 250ms linear 0ms
}
.nameLink:hover{
    color:red;
    
}

.headerTransition{
    height:25%;
    width:100%;
    background: linear-gradient(black, white);
}
.homeBody{
    display:flex;
    flex-direction: column;
}

.myJob{
   
    width:100%;
    background: linear-gradient(white, white);
   display:flex;
   justify-content: space-between;
   
    /* animation-name: fadeIn;
    animation-duration: 1s; */
}
.firstBody{
    width:30%;
  

}

.eventViewer{
   
    width:70%;
    display:flex;
    justify-content: start;
}

.showModels{
    background-color: #913047;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myModels{
  
    font-size:25px
}
.renderModels{
    margin-top:5%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
}

.modelTemplate{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid white 2px;
    border-radius: 20px;
    transition: border 250ms linear 0ms;
    padding:25px;
    background-color: black;
    color:white
}

.modelTemplate:hover {
    border: solid green 3px;
}



